<section class="parceiros">
  <div class="container">
    <h1>{{ titulo }}</h1>
    
    <div class="parceiros-grid">
      <div class="parceiro-item">
        <img [src]="logoIBM" [alt]="'Logo da IBM - Parceira do Global Solution'" />
        <h3>IBM</h3>
      </div>
      
      <div class="parceiro-item">
        <img [src]="logoMedicos" [alt]="'Logo do Médicos sem fronteiras - Parceiro do Global Solution'"/>
        <h3>Médicos sem fronteiras</h3>
      </div>
      
      <div class="parceiro-item">
        <img [src]="logoInpe" [alt]="'Logo do INPE - Parceiro do Global Solution'" />
        <h3>INPE</h3>
      </div>
      
      <div class="parceiro-item">
        <img [src]="logoDefesa" [alt]="'Logo da Defesa Cívil - Parceira do Global Solution'" />
        <h3>Defesa Cívil</h3>
      </div>
    </div>
  </div>
</section>
