<header class="header">
  <div class="container">
    <h1>{{ title }}</h1>
    <nav class="main-nav">
      <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/inspiracao" routerLinkActive="active">Inspiração</a></li>
        <li><a routerLink="/programacao" routerLinkActive="active">Programação</a></li>
        <li><a routerLink="/gifts" routerLinkActive="active">Gifts</a></li>
        <li><a routerLink="/parceiros" routerLinkActive="active">Parceiros</a></li>
      </ul>
    </nav>
  </div>
</header>
